### STAFF REGARDING GPS MONITORINGU
 7  *   * * *   root    echo "UPDATE gps_tracking set time = replace(time, 'Z', ''); UPDATE gps_tracking set time = replace(time, 'T', ' '); " | mysql  --defaults-extra-file=/root/.mysql/mysqldump.cnf DATABASE > /dev/null 2>&1
00  0   1 * *   root    echo "INSERT INTO gps_tracking_archive SELECT * FROM gps_tracking WHERE time < DATE_FORMAT(CURRENT_DATE(),'%Y-%m-%d') - INTERVAL 0 HOUR ORDER BY id DESC; DELETE FROM gps_tracking WHERE time < DATE_FORMAT(CURRENT_DATE(),'%Y-%m-%d') - INTERVAL 0 HOUR; " | mysql  --defaults-extra-file=/root/.mysql/mysqldump.cnf DATAABSE > /dev/null 2>&1
