### STAFF REGARDING GPS MONITORINGU
 7  *   * * *   root    echo "UPDATE gps_tracking set time = replace(time, 'Z', ''); UPDATE gps_tracking set time = replace(time, 'T', ' '); " | mysql  --defaults-extra-file=/root/.mysql/mysqldump.cnf DATABASE > /dev/null 2>&1
05  0   1 * *   root    PATH_TO_FILE/mysql_tracking_move_old_month.sh
