### STAFF REGARDING GPS MONITORINGU
 7  *   * * *   root    echo "UPDATE gps_tracking set time = replace(time, 'Z', ''); UPDATE gps_tracking set time = replace(time, 'T', ' '); " | mysql  --defaults-extra-file=/root/.mysql/mysqldump.cnf DATABASE > /dev/null 2>&1
05  0   1 * *   root    /home/data/bin/mysql_tracking_move_old_month.sh
00  0   * * *   root    /home/data/bin/mysql_tracking_delete_node.sh
